.node {
  width: 10px;
  height: 10px;
  outline: 0.1px solid rgb(168, 168, 168);
  display: table-cell;
  color: black;
}

.node-start {
  background-color: red;
}

.node-pinned {
  background-color: dodgerblue;
}

.node-visited {
  background-color: gold;
}
