.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(0, 0, 0);
  display: inline-block;
}

.node-start {
  background-color: red;
}

.node-pinned {
  background-color: dodgerblue;
}

.node-visited {
  background-color: gold;
}
